.contact-card {
    margin-right: 60px;
    margin-bottom: 30px;
    display: flex;

    &__image {
        width: 67px;
        height: 67px;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        margin-right: 50px;
    }

    &__header {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
        mix-blend-mode: normal;
        margin-bottom: 10px;
    }

    &__container {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        mix-blend-mode: normal;
    }

    &__organization,
    &__department {
        color: #A6AAAD;
        margin-bottom: 5px;
    }

    &__position {
        color: #A6AAAD;
        margin-bottom: 10px;
    }

    &__phone,
    &__email {
        color: #212121;
    }
}