.contacts-container {
    width: 1395px;
    margin: 0 auto 23px;
    background-color: #fff;
    padding: 41px 51px 37px 93px;
}

.contacts-cards {
    display: flex;
    flex-wrap: wrap;
    flex: 30%;
    margin-bottom: 44px;
}